<style>
* {
	margin: 0;
	padding: 0;
}
html,
body,
div {
	height: 100%;
}

header
{
    position: absolute;
    top:0;
    width: 100%;
    height: 100px;
    background: orange;
}
.content
{
    padding-top: 100px;
    box-sizing: border-box;
    background: tomato;
} 
</style>

<header>header</header>
<div class="content">content</div>

<!--  -->

<style>
.sideBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	background: orange;
}
.content {
	padding-left: 300px;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: wheat;
}
</style>

<div class="sideBar">sideBar</div>
<div class="content">content</div> 

<!--  -->
