/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////// author : arl dev /////////////////////////////////////////// */
/* ///////////////////////////// created : 07/2022  ////////////////////////////////////////  */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////// */

/* main setup */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap%27");
body,
html {
	max-width: 100%;
	overflow-x: hidden;
	font-family: var(--font-main);
}
*,
::after,
::before {
	box-sizing: border-box;
}
:root {
	--main-font: "Poppins", sans-serif;
}

.m-border-test {
	border: yellowgreen 2px solid;
}
.m-no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}
.m-cursor-pointer {
	cursor: pointer;
}
.m-d-none {
	display: none;
}
/* //////////////////////////////////////////////////////////////////// */
